# Notes

In [1]:
import pandas as pd
from constants import *
from data_sources.specific.coca import Coca
from data_sources.general.official_commodity import OfficialCommodity
import yfinance as yf

/home/minigonche/Dropbox/Projects/pathogen_study_regions_generator/env/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
ds = Coca()

In [3]:
import geopandas 

# Loads the municipalities
df_geo = geopandas.read_file("/home/minigonche/Dropbox/Projects/malaria_mining/data/cleaned/geo/municipalities/municipalities.shp")
df_geo = df_geo.rename(columns = {'muni_id':ID})

In [4]:
df = ds.createData(df_geo, WEEK)
df

      Loads Data
            No file found for year 2001
      Builds Overlay
      Changes Time Resolution

        ID       date    coca_total
0     5004 2000-12-31  6.519325e+07
1     5031 2000-12-31  1.372497e+10
2     5040 2000-12-31  1.748810e+10
3     5045 2000-12-31  1.445514e+06
4     5051 2000-12-31  2.695436e+09
..     ...        ...           ...
278  97777 2000-12-31  8.497405e+09
279  97889 2000-12-31  3.423971e+10
280  99001 2000-12-31  1.666804e+09
281  99524 2000-12-31  1.724777e+10
282  99773 2000-12-31  2.495579e+11

[283 rows x 3 columns]

In [5]:
df_geo = geopandas.read_file("/home/minigonche/Dropbox/Projects/malaria_mining/data/pipeline_data/raw/weather_shapefiles/maximum_2m_air_temperature_2000_2020.shp")
df_geo

,date,maximum_2m,count,geometry
0,947376000000,303,1680,"POLYGON ((-66.25075 9.00112, -66.25075 9.50418..."
1,947376000000,301,810,"POLYGON ((-66.25075 9.50418, -66.25075 9.74672..."
2,947376000000,300,56,"POLYGON ((-65.99922 0.74560, -65.99922 0.99713..."
3,947376000000,299,37386,"POLYGON ((-70.49978 12.69319, -65.98126 12.693..."
4,947376000000,302,1652,"MULTIPOLYGON (((-65.99922 0.99713, -65.99922 1..."
...,...,...,...,...
696887,1578182400000,303,702,"POLYGON ((-80.48007 -3.74597, -80.48007 -3.503..."
696888,1578182400000,303,2968,"MULTIPOLYGON (((-80.24650 -5.00362, -80.24650 ..."
696889,1578182400000,304,728,"POLYGON ((-80.48007 -4.75209, -80.48007 -4.500..."
696890,1578182400000,306,1092,"POLYGON ((-80.48007 -5.12938, -80.48007 -4.752..."
696891,1578182400000,301,728,"POLYGON ((-80.48007 -0.99713, -80.48007 -0.745..."

In [7]:
pd.to_datetime(df_geo.date, unit='ms')

0        2000-01-09
1        2000-01-09
2        2000-01-09
3        2000-01-09
4        2000-01-09
            ...
696887   2020-01-05
696888   2020-01-05
696889   2020-01-05
696890   2020-01-05
696891   2020-01-05
Name: date, Length: 696892, dtype: datetime64[ns]